pkgbase = zish
	pkgdesc = fast zsh-compatible shell written in zig, with local GGUF ghost-text completion
	pkgver = 0.15.2
	pkgrel = 1
	url = https://github.com/rotkonetworks/zish
	arch = x86_64
	license = MIT
	makedepends = zig>=0.16.0
	depends = glibc
	source = zish-0.15.2.tar.gz::https://github.com/rotkonetworks/zish/archive/v0.15.2.tar.gz
	sha256sums = e0095106bb44e1097c561eea0b1d15f58683f27881cb80bdce5fd506dbe8a91c

pkgname = zish
