pkgbase = zish
	pkgdesc = fast shell interpreter written in zig with built-in AI agent and GGUF inference
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/rotkonetworks/zish
	arch = x86_64
	license = MIT
	makedepends = zig>=0.15.1
	depends = glibc
	source = zish-0.11.0.tar.gz::https://github.com/rotkonetworks/zish/archive/v0.11.0.tar.gz
	sha256sums = 6c420776ee759ff0b344a077fa634ecc3eb00ecef23fee46be0ea7be9fc7576b

pkgname = zish
